.dt-head, .dt-body {
	width: 100%;
}
.dt-frozen-head-wrapper, .dt-frozen-body-wrapper {
	float: left;
}

.dt-frozen-head-wrapper, .dt-head-wrapper {
	overflow: hidden;
}

.dt-frozen-body-wrapper {
	overflow: hidden;
}

.dt-head-wrapper {
	position: relative;
}

.dt-body-wrapper {
	overflow: scroll;
    overflow-x: auto;
	position: relative;
}

.dt-head-table, .dt-body-table {
	/*float: left;*/
}

.dt-body-table > thead, .sizer-head {
	height: 0;
}

.dt-body-table > thead tr, .sizer-head tr {
	height: 0;
}

.dt-body-table th, .sizer-head th {
	height: 0;
	line-height: 0;
	border-top-width: 0 !important;
	border-bottom-width: 0 !important;
	padding-top: 0;
	padding-bottom: 0;
}

.dt-table {
	border: 0;
	width: 1px; /* for proper work of fixed layout */
	padding: 0;
	margin: 0;
}


.dt-table td, .dt-table th {
	overflow: hidden;
	text-overflow: ellipsis;
}

.dt-table th {
	position: relative;
}

.expand-children-button {
	font-size: 12px;
	line-height: inherit;
	padding-right: 5px;
}

.dt-resize-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
	cursor: col-resize;
	width: 10px;
	right: 0px;
	top: 0;
	height: 100%;
}

.dt-right-filler-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.dt-right-filler {
	width: 100%;
}

.dt-table td, .dt-table th {
    white-space: nowrap;
}
